<!-- concesionaria/templates/historial_reservas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Reservas</title>
</head>
<body>
    <h1>Historial de Reservas</h1>
    <ul>
        {% for reserva in reservas %}
            <li>{{ reserva.cliente }} reservó {{ reserva.vehiculo }} para el {{ reserva.fecha_reserva }} a las {{ reserva.hora_prueba }}</li>
        {% endfor %}
    </ul>
</body>
</html>
